.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    margin-bottom: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 8px 12px;
    font-size: bold 16px;
    background-color: pink;
}

ul {
    list-style-type: none;
    padding-left: 10px;
}

li {
    margin-bottom: 8px;
}

.completed {
    text-decoration: line-through;
    color: rgb(255, 145, 255);
}
